    {% load static %}
    <footer class="footer_widgets">
        <div class="container">
            <div class="shipping_area">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single_shipping d-flex align-items-center">
                            <div class="shipping_icon">
                                <img src="{% static 'img/others/shipping1.png' %}" alt="">
                            </div>
                            <div class="shipping_text">
                                <h3>Бесплатная доставка</h3>
                                <p>Capped at $39 per order</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single_shipping d-flex align-items-center">
                            <div class="shipping_icon">
                                <img src="{% static 'img/others/shipping2.png' %}" alt="">
                            </div>
                            <div class="shipping_text">
                                <h3>Карточные платежи</h3>
                                <p>Рассрочка на 12 месяцев</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6">
                        <div class="single_shipping d-flex align-items-center">
                            <div class="shipping_icon">
                                <img src="{% static 'img/others/shipping3.png' %}" alt="">
                            </div>
                            <div class="shipping_text">
                                <h3>Легкий возврат</h3>
                                <p>Покупайте с уверенностью</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_footer">
                <div class="row">
                    <div class="col-12">
                        <div class="main_footer_inner d-flex">
                            <div class="footer_widget_list contact footer_list_width">
                                <h3>Связаться с нами</h3>
                                <div class="footer_contact_desc">
                                    <p>Если у вас возникнут какие-либо вопросы, пожалуйста, свяжитесь с нами по адресу: <a href="#">demo@example.com</a></p>
                                </div>
                                <div class="footer_contact_info">
                                    <div class="footer_contact_info_list d-flex align-items-center">
                                        <div class="footer_contact_info_icon">
                                            <span class="pe-7s-map-marker"></span>
                                        </div>
                                        <div class="footer_contact_info_text">
                                            <p>Здесь указывается ваш адрес. 123, Адрес.</p>
                                        </div>
                                    </div>
                                    <div class="footer_contact_info_list d-flex align-items-center">
                                        <div class="footer_contact_info_icon">
                                            <span class="pe-7s-phone"></span>
                                        </div>
                                        <div class="footer_contact_info_text">
                                            <ul>
                                                <li><a href="tel:+0123456789">+ 0 123 456 789</a></li>
                                                <li><a href="tel:+0123456789">+ 0 123 456 789</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="footer_menu_widget footer_list_width middle d-flex">
                                <div class="footer_widget_list">
                                    <h3>Информация</h3>
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="{% url 'about' %}">О нас</a></li>
                                            <!-- <li><a href="contact.html">Delivery information</a></li>
                                            <li><a href="contact.html">Privacy Policy</a></li>
                                            <li><a href="contact.html">Sales</a></li>
                                            <li><a href="contact.html">Terms & Conditions</a></li>
                                            <li><a href="contact.html">Shipping Policy</a></li>
                                            <li><a href="contact.html">EMI Payment</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <div class="footer_widget_list">
                                    <h3>Аккаунт</h3>
                                    <div class="footer_menu">
                                        <ul>
                                            <li><a href="{% url 'my_account' %}">Мой аккаунт</a></li>
                                            <li><a href="{% url 'my_account' %}">Мои заказы</a></li>
                                            <!-- <li><a href="contact.html">Returns</a></li>
                                            <li><a href="contact.html">Shipping</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="about.html">How Does It Work</a></li>
                                            <li><a href="login-register.html">Merchant Sign Up</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="footer_widget_list footer_list_width">
                                <h3>Информационный бюллетень</h3>
                                <div class="footer_newsletter">
                                    <div class="newsletter_desc">
                                        <p>Если у вас возникнут вопросы, пожалуйста, свяжитесь с нами, отправив электронное письмо.</p>
                                    </div>

                                    <div class="newsletter_subscribe">
                                        <form id="mc-form">
                                            <input id="mc-email" type="email" autocomplete="off"
                                                placeholder="Email Address">
                                            <button id="mc-submit"><i class="ion-arrow-right-c"></i></button>
                                        </form>
                                        <!-- mailchimp-alerts Start -->
                                        <div class="mailchimp-alerts text-centre">
                                            <div class="mailchimp-submitting"></div>
                                            <!-- mailchimp-submitting end -->
                                            <div class="mailchimp-success"></div>
                                            <!-- mailchimp-success end -->
                                            <div class="mailchimp-error"></div>
                                            <!-- mailchimp-error end -->
                                        </div><!-- mailchimp-alerts end -->
                                    </div>
                                    <div class="footer_paypal">
                                        <a href="#"><img src="{% static 'img/others/paypal.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="copyright_right text-center">
                    <p> © 2021 <a href="index.html"> Bucker.</a> Сделано с <i class="ion-heart"></i> <a
                            href="https://themeforest.net/user/codecarnival/portfolio">CodeCarnival</a></p>
                </div>
            </div>
        </div>
    </footer>